@model IEnumerable<IMS.DataModel.ViewModels.CustomerViewModels>

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                Customer List
            </h4>
            <div><a onclick="fnLeftMenu(this); return false;" id="customernew" class="btn btn-default" href="#">
    <i class="glyphicon glyphicon-new-window"></i> Create New
</a></div>
        </div>
        <table class="table table-striped table-hover table-condensed table-bordered">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CUST_NO)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CUST_CODE)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CUST_NAME)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ISVENDOR)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LEGAL_NAME)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DEPARTMENT)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.COMPANY_RELATIONSHIP)
                </th>
                <th>
                    @Html.DisplayName("STATUS")
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.HiddenFor(modelItem => item.CUST_ID)
                        @Html.DisplayFor(modelItem => item.CUST_NO)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CUST_CODE)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CUST_NAME)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ISVENDOR)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LEGAL_NAME)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DEPARTMENT)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.COMPANY_RELATIONSHIP)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.STATUS_LKPID)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
        </table>
        <table>
            <tr>
                <td align="left">
                    <input type="hidden" id="hdnCandidateId" />
                    <a href="@Url.Action("ExportToExcel", "Home")" title="Export To Excel" id="btnExport"><img src="~/Content/images/Excel-icon.png" style="height:35px;width:35px" /></a>
                </td>
                <td colspan="2">Show <select class="pagesize" id="ddlPageSizes">
                <option selected="selected" value="5">5</option>
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="40">40</option>
                </select> per page</td>
                <td align="right" class="">No record(s) found.</td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="clearfix"></div>
                    <ul class="pagination pull-right" align="right">
                        <li class="disabled"><a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
                    </ul>
                </td>
            </tr>
        </table>
        </div>
    
</div>
