<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Inventory Management System</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("IMS", "Index", "Home", new { area = "" }, new { @class = "navbar-brand " })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.Identity.IsAuthenticated)
                    {
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    }
                    else { 
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <div class="row affix-row">
        <div class="col-sm-3 col-md-2 affix-sidebar">
            <div class="sidebar-nav">
                <div class="navbar navbar-default" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <span class="visible-xs navbar-brand">Sidebar menu</span>
                    </div>
                    <div class="navbar-collapse collapse sidebar-navbar-collapse left-menu-pg">
                        <ul class="nav navbar-nav" id="sidenav01">
                            <li class="active">
                                <a href="#" data-toggle="collapse" data-target="#toggleDemo0" data-parent="#sidenav01" class="collapsed">
                                    <h4>
                                        ZEN IMS Order Management
                                    </h4>
                                </a>
                                <div class="collapse" id="toggleDemo0" style="height: 0px;">
                                    <ul class="nav nav-list">
                                        <li><a href="#">ProfileSubMenu1</a></li>
                                        <li><a href="#">ProfileSubMenu2</a></li>
                                        <li><a href="#">ProfileSubMenu3</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a href="#" data-toggle="collapse" data-target="#toggleDemo1" data-parent="#sidenav01" class="collapsed">
                                    <span class="glyphicon glyphicon-cloud"></span> Submenu 1 <span class="caret pull-right"></span>
                                </a>
                                <div class="collapse" id="toggleDemo1" style="height: 0px;">
                                    <ul class="nav nav-list">
                                        <li><a href="#">Submenu1.1</a></li>
                                        <li><a href="#">Submenu1.2</a></li>
                                        <li><a href="#">Submenu1.3</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="active">
                                <a href="#" data-toggle="collapse" data-target="#toggleDemo2" data-parent="#sidenav01" class="collapsed">
                                    <span class="glyphicon glyphicon-inbox"></span> Submenu 2 <span class="caret pull-right"></span>
                                </a>
                                <div class="collapse" id="toggleDemo2" style="height: 0px;">
                                    <ul class="nav nav-list">
                                        <li><a href="#">Submenu2.1</a></li>
                                        <li><a href="#">Submenu2.2</a></li>
                                        <li><a href="#">Submenu2.3</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li><a href="#"><span class="glyphicon glyphicon-lock"></span> Normalmenu</a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-calendar"></span> WithBadges <span class="badge pull-right">42</span></a></li>
                            <li><a href=""><span class="glyphicon glyphicon-cog"></span> PreferencesMenu</a></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>
        <div class="col-sm-7 col-md-8 affix-content">
            <div class="container">
                @*<div class="page-header">
                    <h3><span class="glyphicon glyphicon-th-list"></span> Navigation</h3>
                </div>*@
                 @RenderBody()
                <hr />
                <footer>
                    <p align="center">&copy; @DateTime.Now.Year - Inventory Management System</p>
                </footer>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
